html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 50px;
    position: absolute;
    
}

button {
    border: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    font-size: 30px;
    transition: all 0.15s;
    flex: 0 1 auto;
}


button:hover {
    width: 350px;
    height: 350px;
    font-size: 35px;

}

button:active {
    width: 320px;
    height: 320px;
    font-size: 32px;
    background-color: rgb(205, 205, 205);
}

.result , .score{
    font-size: 30px;
    font-weight: bold;
    cursor: alias;
    position: absolute;
}

.result {
    color: white;
    bottom: 20%;
}

.score {
    top: 20%;
}

.summary {
    position: absolute;
    top: 10%;
}